name: Documentation

on:
  push:
    branches: [main]
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  pages:
    runs-on: ubuntu-20.04
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    steps:
    - run: pip install sphinx sphinx-rtd-theme sphinx-mdinclude
    - uses: actions/checkout@master
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - run: cp ./README.md ./docs/README.md
    - name: sphinx apidoc generation
      working-directory: ./docs
      run: |
        echo ::group::Sphinx apidocs generation
        sphinx-apidoc --separate --force -o . ../stable_gnn
        echo ::endgroup::
        echo ::group::Sphinx docs compilation
        sphinx-build -M html . _build
        echo ::endgroup::
    - name: Setup Pages
      uses: actions/configure-pages@v2
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: './docs/_build/html'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v1
